
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}

#btnPDF {
    margin-top: 25px;
}

#navbar1 {
    background-color: #3e474c;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #afca05;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
}

.spacingButton {
    margin-top: 0.5em;
    padding: 0.25em;
    font-size : 13px;
}

.btn-success {
    background-color: #afca05;
    border: none;
}

.thumbnail {
  background-color: #f9f9f9;
  margin-bottom: 0.5em;
}

h5 {
  margin: 0;
}

hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.caption {
  padding-left: 0.5em !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;

}
